<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Conviérteme en superhéroe</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item"
      [ngClass]="{ 'active': optionSelected === 'caras' }"
      (click)="optionSelected = 'caras'">
        <a class="nav-link">Cara</a>
      </li>
      <li class="nav-item"
      [ngClass]="{ 'active': optionSelected === 'cuerpo' }"
      (click)="optionSelected = 'cuerpo'">
        <a class="nav-link">Cuerpo</a>
      </li>
      <li class="nav-item"
      [ngClass]="{ 'active': optionSelected === 'piernas' }"
      (click)="optionSelected = 'piernas'">
      <a class="nav-link">Piernas</a>
    </li>
      <li class="nav-item"
      [ngClass]="{ 'active': optionSelected === 'capa' }"
      (click)="optionSelected = 'capa'">
        <a class="nav-link">Capa</a>
      </li>
    </ul>
  </div>
</nav>
<div class="main-container d-flex flex-row justify-content-between p-1"
style="width: 100%;background: transparent;">
  <app-images-list [type]="optionSelected"
  (elementToShow)="elementToPaint($event)"></app-images-list>
</div>
<div class="d-flex flex-row justify-content-center"
style="background: transparent;">
  <app-superheroe-paint [itemToPaint]="itemToPaint"></app-superheroe-paint>
</div>
